@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i");
body {
  font-family: "Lato", sans-serif !important; }
  body #company-header, body #support-side {
    display: none; }
  body .wrapper {
    width: 100%; }
  body .row {
    margin: 0; }
  body #helptopics {
    text-align: center;
    color: #3a3a3a; }
  body .kb_topic_name {
    color: #1e800d; }
  body #support-header {
    padding: 25px 0 40px;
    margin-bottom: 0;
    background: -webkit-linear-gradient(left, #028bc6, #10cc71) !important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #028bc6, #10cc71) !important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #028bc6, #10cc71) !important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #028bc6, #10cc71) !important;
    /* Standard syntax */
    text-align: center; }
    body #support-header h2 {
      color: #ffffff !important;
      text-shadow: none !important;
      font-family: "Lato", sans-serif !important; }
    body #support-header .support-search-big {
      border: 0;
      background: transparent !important; }
    body #support-header form {
      font-family: "Lato", sans-serif !important;
      margin-bottom: 0; }
      body #support-header form .outer {
        width: 90%;
        margin: 0 auto; }
      body #support-header form .inner {
        width: 100%;
        border-radius: 25px; }
        body #support-header form .inner #question-mask {
          top: 30%;
          padding-left: 10px;
          text-align: left;
          font-size: 1em; }
        body #support-header form .inner #support-search-submit {
          display: none; }
    body #support-header .popular-searches {
      color: #ffffff; }
      body #support-header .popular-searches span {
        color: #ffffff; }
        body #support-header .popular-searches span a {
          text-decoration: underline;
          color: #ffffff; }
  body #support-main {
    width: 100%;
    float: none;
    font-family: "Lato", sans-serif; }
    body #support-main .support-body {
      border: 0; }
    body #support-main .dashboard {
      padding: 40px 0 0; }
      body #support-main .dashboard > h3 {
        border-bottom: 0;
        color: #3a3a3a !important;
        font-family: "Lato", sans-serif !important;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        font-family: "Lato", sans-serif; }
      body #support-main .dashboard table tr td h4 {
        color: #1e800d !important; }
    body #support-main .row-2, body #support-main .row-3, body #support-main .row-4, body #support-main .row-5, body #support-main .row-6, body #support-main .row-7 {
      padding-top: 20px 25px 20px;
      font-size: 20px;
      color: #3a3a3a; }
      body #support-main .row-2 .col-sm-12 .header-hl, body #support-main .row-3 .col-sm-12 .header-hl, body #support-main .row-4 .col-sm-12 .header-hl, body #support-main .row-5 .col-sm-12 .header-hl, body #support-main .row-6 .col-sm-12 .header-hl, body #support-main .row-7 .col-sm-12 .header-hl {
        font-family: "Lato", sans-serif;
        font-weight: bold; }
      body #support-main .row-2 .col-sm-12 .row, body #support-main .row-3 .col-sm-12 .row, body #support-main .row-4 .col-sm-12 .row, body #support-main .row-5 .col-sm-12 .row, body #support-main .row-6 .col-sm-12 .row, body #support-main .row-7 .col-sm-12 .row {
        margin: 0;
        padding-bottom: 15px; }
    body #support-main .row-3 {
      border-bottom: 1px solid #ddd; }
    body #support-main .row-4 {
      text-align: center; }
      body #support-main .row-4 .header-hl {
        font-size: 1.3em; }
      body #support-main .row-4 .row:not(.header-hl) {
        color: #1e800d; }
    body #support-main .row-5 {
      padding: 35px 20px 35px;
      background-color: #e6e7e3; }
      body #support-main .row-5 .col-sm-12 {
        padding: 35px 20px 35px; }
    body #support-main .row-6 {
      background-color: #249A10; }
      body #support-main .row-6 .col-sm-12 {
        padding: 35px 20px 35px;
        color: #ffffff;
        text-align: center; }
        body #support-main .row-6 .col-sm-12 > div:nth-of-type(3) {
          border: 1px solid #ffffff;
          border-radius: 25px; }
    body #support-main .row-7 {
      color: #ffffff;
      background-color: #3a3a3a; }
  body #support-side {
    float: none;
    clear: left;
    margin: 0;
    width: 100%; }
  body #footer {
    display: none; }

@media (min-width: 768px) {
  @import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i"); }

/*# sourceMappingURL=styles.css.map */
