@import './variables.scss';
body {
	#support-header {

		h2 {
			margin-bottom: 20px;
			font-size: 40px;
		}
		form {
			.outer {
				width: 44%;
				.popular-searches {
					padding-top: 20px;
				}
			}
		}
	}
	#support-main {
		.dashboard {
		}
		.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7 {
			// padding: 60px 60px 60px;
		}
		.row-2, .row-3, .row-3a, .row-3b, .row-3c, .row-3d {
			display: inline-block;
			width: 30%;
			height: 520px;
		}
		.row-1 {
			padding-left: 40px;
			padding-bottom: 60px;
			margin-bottom: 60px;
		}
		.row-3 {
			border-bottom: 0;
		}
		.row-4 {
			padding: 60px 0;
			border-top: 1px solid #ddd;
			.row {
				&:last-of-type {
					padding-bottom: 0;
				}
			}
			.col-sm-12 {
				.header-hl {
					color: $black;
					font-size: 32px;
					line-height: 28px;
				}
			}
		}
		.row-5 {
			padding: 60px 25px;
			.slick-target {
				margin-left: 130px;
				margin-left: 6vw;
				transition: 200ms;
				-webkit-transition: 200ms;
				.container-hl {
					width: 280px;
					height: 280px;
					> div {
						top: 36%;
						padding: 0 30px;
					}
					&:hover {
						color: $white;
						background-color: $green;
						transition: 200ms; /* delays for 1 second */
						-webkit-transition: 200ms;
					}
				}
				.row {
					font-weight: bold;
				}
			}
		}
		.row-6 {
			padding: 20px 0 8px;
			max-height: 96px;
			.col-sm-12 {
				width: 75%;
				padding-top: 0;
				padding-bottom: 0;
				margin-left: 10%;
				margin-left: 9vw;
				> div {
					display: inline-block;
					font-size: 28px;
					line-height: 34px;
					&:nth-of-type(3) {
						bottom: 3px;
						position: relative;
						width: 172px;
						height: 48px;
						margin-left: 35px;
						margin-top: 0;
						background-color: $white;
						color: $green;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}
	}
}