@import './variables.scss';
@media (min-width: 768px) {
	.hide-desktop {
		display: none!important;
	}
}

body {
	#support-header {
		height: 230px;
		h2 {
			font-size: 40px;
		}
		.popular-searches {
			padding-top: 24px;
		}
	}
	#support-main {
		.dashboard {
			.topic {
				padding-right: 30px;
			}
		}
		.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7 {
			// padding: 60px 60px 60px;
		}
		.row-2, .row-3, .row-3a, .row-3b, .row-3c, .row-3d {
			display: inline-block;
			width: 40%;
			height: 420px;
			max-width: 330px;
			.col-sm-12 {
				.row {
					a {
						color: $black !important;
						&:hover {
							color: $green_links !important;
							text-decoration: none !important;
						}
					}
					&.header-hl {
						color: $black;
					}
				}
			}
		}
		.row-3b, .row-3c, .row-3d {
			padding-top: 0!important;
		}
		.row-1 {
			padding-left: 15%;
			padding-bottom: 40px;
			margin-right: 5%;
			margin-bottom: 40px;
			margin-left: 5%;
			table {
				tbody {
					tr {
						display: inline-block;
						width: 48%;
						max-width: 430px;
						td {
							padding: 0!important;
							a:hover {
								color: #7fd64d;
								text-decoration: none !important;
							}
							h4 {
								margin-bottom: 25px;
								&:hover {
									color: #7fd64d;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
		.row-2 {
			margin-left: 14.5%;
		}
		.row-3 {
			border-bottom: 0;

			img {
				height: 46px;
			}
		}
		.row-3a {
			margin-left: 14.5%;

			img {
				height: 36px;
			}
		}

		.row-6 {
			height: 96px;
			padding: 26px 0 8px;

			.col-sm-12 {
				width: 100%;
				padding-top: 0;
				padding-bottom: 0;
				// margin-left: 10%;
				// margin-left: 13vw;
				> div {
					display: inline-block;
					font-size: 28px;
					line-height: 34px;
					&:nth-of-type(3) {
						bottom: 3px;
						position: relative;
						width: 15%;
						min-width: 125px;
						height: 48px;
						margin-left: 35px;
						margin-top: 0;
						padding-top: 6px;
						background-color: $white;
						color: $green !important;
						font-size: 16px;
						font-weight: bold;
						a {
							color: $green !important;
						}
						&:hover {
							background-color: transparent;
							a {
								color: $white !important;
							}
						}
					}
				}
			}
		}
	}
}

// topic pages below
body {
	.search-page, .question-page {
		.support-body {
			max-width: 700px;
			margin: 0 auto;
			#social-share {
				display: none;
			}
		}
	}
	.topics {
		#support-main {
			.support-body {
				padding-left: 0;
				#breadcrumbs {
					float: none;
					padding-top: 60px;
					padding-left: 20px;
					margin-bottom: 60px;
				}
				.content {
					padding-left: 0;
					#toggle {
						> div {
							display: none;
						}
						li {
							h4 {
								a {
									color: $green_links;
								}
							}
						}
					}
				}
			}
		}
	}
}
// shared by all page types
body {
	form {
		.outer {
			width: 34%;
			#q {
				padding-left: 14px;
			}
		}
	}
	#support-main {
		.row-4 {
			padding: 60px 0;
			border-top: 1px solid #ddd;
			.row {
				&:last-of-type {
					padding-bottom: 0;
				}
			}
			.col-sm-12 {
				.header-hl {
					color: $black;
					font-size: 32px;
					line-height: 28px;
				}
			}
		}
		.row-5 {
			padding: 70px 25px;
			padding-left: 7%;
			margin-left: -80px;
			.slick-target {
				margin-left: 130px;
				margin-left: 6vw;
				transition: 200ms;
				-webkit-transition: 200ms;
				.container-hl {
					width: 220px;
					height: 220px;
					margin: 0;
					> div {
						padding: 0 30px;
					}
					a {
						font-size: 22px;
					}
					&:hover {
						background-color: $green;
						transition: 200ms; /* delays for 1 second */
						-webkit-transition: 200ms;
						> div a {
							color: $white;
						}
					}
				}
				.row {
					font-weight: bold;
				}
			}
		}
	}
	.row-8 {

		.footer-float {
			float: none;
		}
		.row {
		  padding-bottom: 0;
		}
	  padding-top: 5%;
	  padding-bottom: 55px;
	  background-color: #2f2f2f;
	  color: white;
	  .url-open {
	    cursor: pointer;
	    font-weight: 200;
	    color: #c6c6c6;
	    font-size: 0.92em;
	    line-height: 200%;
	    padding-bottom: 0;
	  }
	  .col-sm-8 {
	  	width: 100%;
	  	margin-left: 16%;
	  	margin-left: 17vw;
	    .col-sm-9 {
	      .col-sm-7 {
	        .row:nth-child(1) {
	          padding-bottom: 10px;
	        }
	      }
	      .col-sm-4 {
	        .row:nth-child(1) {
	          padding-bottom: 10px;
	        }
	      }
	    }
	    .lines {
	      border-bottom: 1px solid #777;
	      display: inline-block;
	      padding-top: 10px;
	    }
	    .row {
	      font-weight: bold;
	      &.url-open {
	        cursor: pointer;
	        font-weight: 200;
	      }
	    }
	    .our-policies {
	      padding-top: 5%;
	      .row:nth-child(1) {
	        padding-bottom: 8px;
	        .lines {
	          margin-left: -30px;
	        }
	      }

	    }
	    .legal {
	      color: #9B9B9B;
	      font-size: 12px;
	      clear: both;
	      padding-top: 5%;
	      padding-bottom: 5%;
	      font-weight: 400;
	      text-align: center;
	      .row {
	        padding-top: 5%;
	      }
	    }
	    .twitter-container {
	      .col-sm-6 {
	        padding-left: 0;
	        font-weight: bold;
	      }
	      .row {
	        font-weight: 200;
	      }
	      .lines {
	        padding-bottom: 10px;
	      }
	      .row:nth-child(4) {
	        padding-top: 10px;
	      }
	    }
	  }
	  @media (max-width: 800px) {
	    font-size: 8px;
	    .legal {
	      font-size: 8px!important;
	    }
	  }
	}
}

// navbar stuff
.csm-header {
	display: none;
}
body #company-support-portal .navbar {
	&.top-nav {
		font-family: "Lato",Arial,Helvetica,sans-serif;
		font-size: 12px;
		background-color: #2f2f2f;
		height: 28px;
	  background-color: black;
	  // overflow: hidden;
	  // overflow-x: hidden;
	  // overflow-y: hidden;
	  margin-bottom: 0;
	  border: 0;
	  min-height: 30px;
	  height: 30px;
	  border-radius: 0;
	  .container-fluid {
	  	height: 30px;
	  }
	  .col-sm-8 {
	  	// padding-top: 6.5px;
	  }
	  .top-header-content {
	  	float: right;
	  	width: 218px;
	  	.dropdown {
	  		height: 30px;
	  		padding: 6.5px 5px 10px 12px;
	  		margin-left: 12px;
	  		> a:first-of-type {
	  			.caret {
	  				margin-left: 5px!important;
	  			}
	  		}
	  		&:hover {
	  			background-color: white;
	  			> a {
	  				&:first-of-type {
	  					color: #444!important;
	  				}
	  			}
	  		}
	  		.dropdown-menu {
	  			padding: 0;
	  			top: 93%;
	  			border-top: 0;
	  			border-left: 0;

	  			li:nth-child(even) {
	  				a {
	  					-webkit-transition: all 300ms ease;
					    -moz-transition: all 300ms ease;
					    -o-transition: all 300ms ease;
					    transition: all 300ms ease;
	  					color: $green;
	  					background-color: rgba(255,255,255,1);
	  					z-index: 2;
	  					font-size: 14px;
	  					padding: 5px 12px 5px 12px;
	  				}
	  			}
	  			li:nth-child(odd) {
	  				margin: 0 5px;
	  			}

	  		}

	  		li a:hover {
	  			color: white!important;
	  			background-color: $green!important;
	  		}

	  		.divider {
	  			margin: 0;
	  			// background-color: white;
	  		}
	  	}
	  	.ilb {
	  		a {
	  			text-decoration: none;
	  			color: white;
	  			&.dropdown-toggle {
	  			}
	  			&:hover {
	  				text-decoration: none;
	  			}
	  		}
	  	}
	  	.ilb:first-of-type {
	  		padding-right: 5%;
	  		a {
	  			color: #aaa;
	  		}
	  	}
	  }
	}
	&.bottom-nav {
		height: 65px;
		background-color: $white;

		.col-centered {
			float: none;
			margin: 0 auto;
		}
		.col-sm-8 {
			padding-left: 0;
			background-color: transparent;
		}

		.navbar-brand {
			margin-left: 0;
			padding-top: 22px;
			img {
				width: 132px;
			}
		}
		.navbar-collapse {
			background-color: transparent;

			ul li {
				border: 0;
			}
		}

		.navbar-right {
			padding-top: 14px;
			li {
				button {
					width: 7em;
				}
				&:nth-of-type(2) {
				margin-right: 10px;
				}
				button:first-of-type {
					background-color: white;
					&:hover {
						// @include button-transition;
						background-color: #cccccc;
					}
				}
				&:nth-child(2) {
					button {
						color: white;
						background-color: #4a90e2 !important;
						border-color: #4a90e2;
						&:hover {
							color: #4a90e2;
							background-color: white;
							// @include button-transition;
						}
					}
				}
			}
		}
	}
}
