@import './variables.scss';

body {

	.row-5 {
		.slick-target {
			margin-left: 14vw;
			.col-sm-4 {
				padding: 0;
				margin-left: -20px;
			}
			.container-hl {
				width: 235px;
				height: 235px;
				a {
					font-size: 28px;
				}
				@media (min-width: 1200px) {
					width: 280px;
					height: 280px;
				}
			}
			.col-xs-8 {
				width: 33%;
			}
		}
	}
}