@import './variables.scss';

.siteforceContentArea {
	max-width: 68%;
	margin: auto;
}

// @TODO: Remove Below
body {
	#support-main {
		.row-1.topics-container {
			padding: 0;
			padding-left: 5%;
			margin-right: 0;
			margin-left: 0;
			padding-top: 2rem;
			table {
				tbody {
					tr {
						display: inline-block;
						width: 33%;
						max-width: inherit;
					}
				}
			}
		}

		.row-2, .row-3, .row-3a, .row-3b, .row-3c, .row-3d {
			display: inline-block;
			width: 48%;
			height: 420px;
		}

		.row-5 {
			padding-left: 2%;
			margin-left: -8px;

			.slick-target {
				margin-left: 14vw;
				.col-sm-4 {
					padding: 0;
					margin-left: -20px;
				}
				.container-hl {
					@media (min-width: 1100px) {
						width: 280px;
						height: 280px;
					}
					a {
						font-size: 25px;
					}
					@media (min-width: 1200px) {
						width: 280px;
						height: 280px;
						a {
							font-size: 28px;
						}
					}
				}
				.col-xs-8 {
					width: 33%;
				}
			}
		}
	}
}