// begin new footer styles
footer {
  padding-top: 40px;  
  color: $subtle-text;
  overflow: hidden;
  background-color: $white;
  font-size: 13px;
  font-family: $lato;

  a {
    
    &:hover {
      text-decoration: none;
      opacity: 0.65;
    }
  }

  .content-area {

    .top-footer-region {      
      font-size: 13px;
      color: $gray-arrow;
      background-color: $white;

      .top-footer-region-content {
        max-width: 1000px;
        margin: 0 auto;
      }

      .about-us {

        &:before {

          display: inline-block;
          width: 120px;
          margin-bottom: 20px;
          content: url('../images/cs_logo.svg')
        }

        .about-us-text {
          max-width: 210px;
        }
      }

      .location {
        padding-top: 30px;
      }
    }

    .bottom-footer-region {
      border-top: 1px solid $gray-footer;
      font-size: 14px;
      color: $heading-color;
      background-color: $background-neutral;

      .bottom-footer-region-content {
        max-width: 1000px;
        padding: 15px 12px 20px;
        margin: 0 auto;        
        color: $heading-color;

        .privacy-container {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          .privacy-text {
            padding-bottom: 10px
          }

          .copyright-2 {
            font-size: 10px;
          }

          a {
            color: $heading-color;
            font-weight: normal;

            &:after {
              padding: 0 11px;
              content: '/';
            }

            &.last {

              &:after {
                content: '';
              }
            }
          }
        }

        .trademark {
          display: inline-block;
          width: 49%;
          font-size: 11px;
        }
      }

    }
  }
  .about-us {
    display: inline-block;
    max-width: 30%;
  }
  #block-menu-block-3 {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    text-align: center;
    padding-left: 40px;

    .parent-menu-ul {
      margin-top: 0;
      text-align: left;
      font-size: 14px;
      color: $base-text-color-2;

      .parent-menu-item {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        margin-right: 12px;

        &:nth-of-type(1) {
          width: 26%;
        }

        &:nth-of-type(3) {
          width: 33%;
        }

        .footer-title {
          padding-bottom: 10px;
        }

        .child-menu-ul {
          padding-left: 0;
          color: $base-text-color-2;

          .menu__item {
            list-style: none;
            line-height: 29px;

            a {
              color: $base-text-color-2;
            }
          }
        }
      }
    }

  }

  #social-media {
    display: inline-block;
    float: right;
    width: 14%;
    margin-right: -3px;
    margin-left: -3px;
    vertical-align: top;
    font-size: 14px;
    color: $base-text-color-2;
    line-height: 29px;

    #connect-header {
      padding-bottom: 10px;
      margin-top: -14px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .social-link-wrapper {

      .social-item {

        .link-icon {
          position: relative;
          top: 7px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
        }

        .link-label {
          padding-left: 8px;
        }

        &.facebook {
          @include social-icons('../images/black_white_social_icons/facebook');

        }

        &.twitter {
          @include social-icons('../images/black_white_social_icons/twitter');
        }

        &.pinterest {

          @include social-icons('../images/black_white_social_icons/pinterest');
        }

        &.instagram {
          @include social-icons('../images/black_white_social_icons/instagram');
        }

        &.youtube {

          @include social-icons('../images/black_white_social_icons/youtube');
        }

        &.linkedin {

          @include social-icons('../images/black_white_social_icons/linkedin');
        }

        &.googleplus {

          @include social-icons('../images/black_white_social_icons/google');
        }
      }
    }

    a {
      color: $base-text-color-2;
    }
  }

  .copyright {
    clear: both;
    max-width: 50%;
    margin: 0 auto;
    width: 60em;
    text-align: center;
    color: $hidden-text;
    font-size: 0.75em;
    line-height: 1.2em;
  }
}

/* tablet styles */
@media only screen and (max-width: 970px) {
  footer {

    #block-menu-block-3 {
      width: 53%;

      .parent-menu-ul {

        .parent-menu-item {

          &:nth-of-type(1), &:nth-of-type(2) {
            width: 45%;
          }

          &:nth-of-type(3) {
            display: block;
            padding-top: 20px;
          }

          .child-menu-ul {

            .menu__item {

              &.two-line {
                line-height: 17px;
              }

            }
          }
        }
      }
    }
  }
}

/* mobile styles */
@media only screen and (max-width: 768px) {
  footer {

    .content-area {

      .top-footer-region {        

        .top-footer-region-content {
          margin: 0 1.5em;

          .about-us {
            display: block;
            clear: both;
            padding-top: 40px;
            padding-bottom: 20px;
            max-width: 100%;
            text-align: center;
            border-bottom: 1px solid $gray-footer;

            .about-us-text {
              max-width: 100%;
            }
          }

          .twitter-footer {
            width: 100%;
            max-width: 100%;
          }
        }

      }

      .bottom-footer-region {

        .bottom-footer-region-content {
          width: 100%;
        }

        .privacy-container-wrapper {

          .privacy-container, .trademark {
            width: 100%;
            padding-top: 20px;
          }
        }
      }
    }

    #block-menu-block-3 {
      width: 100%;

      .parent-menu-ul {
        padding-left: 0;

        .parent-menu-item {
          position: relative;
          display: block;
          width: 100%;
          max-height: 42px;
          padding: 10px;
          overflow: hidden;
          border-bottom: 1px solid $gray-footer;
          transition: 0.3s all;

          &:after {
            position: absolute;
            top: 17px;
            right: 15px;
            width: 15px;
            height: 15px;
            content: ' ';
            background: url(../images/icons/icon_rightArrow.svg) no-repeat;
            transform: rotate(90deg);
            transition: all,0.2s ease-in-out;

          }

          &.expanded {
            max-height: 400px;
            transition: 0.3s all;

            &:after {
              transform: rotate(270deg);
            }
          }

          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
            width: 100%;
            padding-top: 10px;
          }

          .child-menu-ul {

            .menu__item {

              a {

              }
            }
          }
        }
      }

    }

    #social-media {
      display: block;
      width: 100%;

      #connect-header {
        padding-bottom: 0;
        margin-top: 0;
      }

      .social-link-wrapper {

        .social-item {
          display: inline-block;
          width: 25px;
          margin-right: 15px;
          line-height: 22.5px;

          .link-icon {
            background-repeat: no-repeat;
          }

          .link-label {
            display: none;
          }

          &.facebook {

            .link-icon {

            }
          }

          &.twitter {

            .link-icon {

            }
          }

          &.pinterest {

            .link-icon {

            }
          }

          &.instagram {

            .link-icon {

            }
          }

          &.youtube {

            .link-icon {

            }
          }

          &.linkedin {

            .link-icon {
            }
          }
        }
      }
    }
  }
}

/* small phone styles */
@media only screen and (max-width: 480px) {
  
}

