@media (max-width: 767px) {
  .navbar-brand.home-link {
    position: relative;
    top: 5px;
  }

  #social-media {
    padding-top: 1rem;
  }

  // Prevent scrolling of CMS html ajax elements in body
  body.cs-no-scroll {
    .cs-tpl-header {
      min-height: 65px;
      width: 100%;
      nav {
        position: fixed;
        width: 100%;
      }
    }

    .cs-tpl-footer {
      width: 100%;
      visibility: hidden;
      &> div {
        position: fixed;
      }
    }
  }

	.themeLayoutStarterWrapper {
    // Prevent scrolling of CMS html ajax elements in body
    &.no-scroll {
      .cs-tpl {
        position: fixed;
      }
    }

    .hero {
      div.forceCommunityThemeHeroBase {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }
    }

    &> .header {
      position: absolute;
      top: -55px;
      right: 0;
      width: 50%;

      .themeNavTriggerContainer {
        position: absolute;
        right: 20px;
        top: 15px;
      }

      .themeBgImage {
        background: transparent !important;
      }

      .themeNav {
        top: 65px;

        .forceCommunityThemeNav .mainNavItem {
          background: $white !important;
        }
      }

      .themeNavOverlay {
        top: 65px;
      }

    }
  }
}