@import './variables.scss';
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

body {
	font-family: $lato!important;
	#company-header, #support-side {
		display: none;
	}
	#company-support-portal {
		padding-bottom: 0;
	}
	.wrapper {
		width: 100%;
	}
	.row {
		margin: 0;
	}
	#helptopics {
		text-align: center;
		color: #3a3a3a;
	}
	.kb_topic_name {
		color: #1e800d;
	}
	#support-header {
		padding: 20px 0 24px;
		margin-bottom: 0;
		background: -webkit-linear-gradient(left, #028bc6, #10cc71)!important; /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(right, #028bc6, #10cc71)!important; /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(right, #028bc6, #10cc71)!important; /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to right, #028bc6, #10cc71)!important; /* Standard syntax */
		text-align: center;
		h2 {
			margin-bottom: 30px;
			color: $white!important;
			text-shadow: none!important;
			font-family: $lato!important;
			a {
				@include link-normalize;
			}
		}
		.support-search-big, .support-search-small {
			border: 0;
			background: transparent!important;
		}
		.popular-searches {
			padding: 1% 5% 0;
			color: $white;
			font-size: 16px;
			span {
				a {
					text-decoration: underline;
					color: $white;
				}
				color: $white;
			}
		}
	}
	// main content
	#support-main {
		width: 100%;
		float: none;
		font-family: $lato;

		.icon-container {
			border-bottom: 1px solid #CCC;
		}

		.support-body {
			border: 0;
		}
		.dashboard {
			padding: 60px 0 0;
			> h3 {
				padding-top: 40px;
				border-bottom: 0;
				margin-bottom: 0;
				color: $black !important;
				font-family: $lato !important;
				font-size: 32px;
				line-height: 40px;
				font-weight: bold;
				text-align: center;
			}
			table {
				tr {
					td {
						border-bottom: 0;
						h4 {
							margin-bottom: 5px;
							font-weight: bold;
							color: $green_links !important;
							font-size: 20px;
							line-height: 26px;
						}
					}
				}
			}
		}
		.row-1, .row-2, .row-3, .row-3a, .row-3b, .row-3c, .row-3d, .row-4, .row-5, .row-6, .row-7 {
			padding: 20px 25px 20px;
			font-size: 20px;
			color: $black;
			.col-sm-12 {
				.header-hl {
					font-family: $lato;
					font-weight: bold;
				}
				.row {
					margin: 0;
					padding-bottom: 15px;
					a {
						color: $black !important;
						&:hover {
							color: $green_links !important;
							text-decoration: none !important;
						}
					}
				}
			}
		}
		.row-1 {
			padding: 20px 40px 20px;
			table {
				tbody {
					tr {
						td {
							h5, ul {
								display: none;
							}
						}
					}
				}
			}
		}
		.row-2 {
			img {
				width: 46px;
				height: 46px;
			}
		}
		.row-3 {
			// border-bottom: 1px solid #ddd;
			.col-sm-12 {
				// border-bottom: 1px solid $grey;
			}
			img {
				width: 46px;
				height: 55px;
			}
		}
		.row-3a {
			img {
				width: 36px;
				height: 46px;
			}
		}
		.row-3b {
			img {
				width: 53px;
				height: 54px;
			}
		}
		.row-3c {
			img {

			}
		}
		.row-3d {
			img {
				width: 53px;
				height: 47px;
			}
		}
		.row-4 {
			padding-top: 40px;
			border-top: 1px solid #ddd;
			margin-top: 30px;
			text-align: center;
			.col-sm-12 {
				.header-hl {

				}
				.row {
					padding-bottom: 25px;
					a {
						color: $green_links !important;
						font-weight: bold;
						line-height: 26px;
					}
					&:last-of-type {
						padding-bottom: 0;
					}
				}
			}
		}
		.row-6 {
			background-color: $green;
			.col-sm-12 {
				padding: 35px 0 35px;
				color: $white;
				text-align: center;
				> div:nth-of-type(3) {
					width: 66%;
					padding: 8px;
					border: 1px solid $white;
					margin: 40px auto 0;
					// background-color: $white;
					border-radius: 25px;
					font-size: 1em;
					> a {
						color: $white !important;
						text-decoration: none;
					}
				}
			}
		}
		// footer, hidden during protest
		.row-7 {
			display: none;
			color: $white;
			background-color: $black;
		}
		.row-8 {
		  .footer-float {
		    float:left;
		  }
		  .row {
		    padding-bottom: 5px;
		  }
		  padding-top: 5%;
		  background-color: #2f2f2f;
		  color: white;
		  .url-open {
		    cursor: pointer;
		    font-weight: 200;
		    color: #c6c6c6;
		    font-size: 0.92em;
		    line-height: 120%;
		    padding-bottom: 3px;
		  }
		  .col-sm-8 {
		    .col-sm-9 {
		      .col-sm-7 {
		        .row:nth-child(1) {
		          // padding-bottom: 10px;
		        }
		        .col-xs-2 {
		          width: 20%;
		        }
		      }
		      .col-sm-4 {
		        .row:nth-child(1) {
		          padding-bottom: 10px;
		        }
		      }
		    }
		    .lines {
		      border-bottom: 1px solid #777;
		      display: inline-block;
		      padding-top: 5px;
		      margin-bottom: 5px;
		    }
		    .row {
		      font-weight: bold;
		      &.url-open {
		        cursor: pointer;
		        font-weight: 200;
		      }
		      &.programs-row {
		        > div {
		          width: 16%;
		          padding-right: 5px;
		          padding-left: 5px;
		          &:first-of-type {
		            padding-left: 15px;
		          }
		        }
		      }
		    }
		    .our-policies {
		      padding-top: 5%;
		      .row:nth-child(1) {
		        padding-bottom: 8px;
		        .lines {
		          margin-left: -30px;
		        }
		      }

		    }
		    .legal {
		      color: #9B9B9B;
		      font-size: 12px;
		      clear: both;
		      // padding-top: 5%;
		      padding-bottom: 5%;
		      font-weight: 400;
		      text-align: center;
		      .row {
		        padding-top: 0;
		      }
		      .trademark {
		        max-width: 836px;
		      }
		    }
		    .twitter-container {
		      a {
		        color: $green_links;
		      }
		      .col-sm-6 {
		        padding-left: 0;
		        font-weight: bold;
		      }
		      .row {
		        font-weight: 200;
		      }
		      .lines {
		        // padding-bottom: 10px;
		      }
		      .row:nth-child(4) {
		        padding-top: 10px;
		      }
		      .col-xs-4 {
		        padding-right: 5px;
		        &:nth-of-type(3) {
		          padding-right: 0;
		        }
		        &.csm-twitter, &.ed-twitter, &.ka-twitter {
		          overflow: hidden;
		          a {
		            overflow-wrap: break-word;
		            word-wrap: break-word;
		          }
		        }
		      }
		    }
		  }
		  @media (max-width: 800px) {
		    font-size: 8px;
		    .legal {
		      font-size: 8px!important;
		    }
		  }
		}
	}

	// contact us section
	#support-side {
		float: none;
		clear: left;
		margin: 0;
		width: 100%;
	}
	#footer {
		display: none;
	}
}


// topic pages below
body {
	.topics {
		#pagination {
			.pagination {
				bottom: 20px;
				position: relative;
				> * {
					color: $green_links;
				}
			}
		}
		#support-header {
			.support-search-small {
				position: relative;
				right: 0;
				top: 0;
				width: 100%;
				&:first-of-type {
					// display: none;
				}
			}
		}
		.wrapper #support-main {
			.support-body {
				padding-left: 0;
				box-shadow: none;
				#breadcrumbs {
					width: 80%;
					float: none;
					padding-top: 40px;
					padding-left: 40px;
					font-size: 16px;
					color: $black;
					a {
						color: $black!important;
					}
				}
				.content.articles, .content.article {
					color: #3a3a3a;
					padding: 0;
					padding-right: 16px;
					> div:not(#toggle) {
						padding-right: 16px;
						padding-left: 40px;
					}
					#toggle {
						> div {
							display: none;
						}
						h3 {
							padding-left: 40px;
						}
					}
					ul {
						li.article {
							background: none!important;
							h4 {
								a {
									color: $green_links!important;
								}
							}
							> p, div {
								display: none;
							}
						}
					}
				}
			}
		}
		// unique to search page
		&.search-page {
			.content {
				> h3 {
					padding-left: 40px!important;
				}
			}
		}
		// unique to question page or whatever da heck it's called
		&.question-page {
			#support-main {
				#breadcrumbs {
					margin-bottom: 60px;
				}
				.content {
					.title {
						border-bottom: 0;
						h3 {
							font-size: 32px;
							font-weight: bold;
							line-height: 40px;
						}
						.meta {
							display: none;
						}
					}
					.article-content {
						a {
							color: $green_links!important;
						}
						> div {
							> p:nth-of-type(1) {
								// padding-bottom: 60px;
								font-size: 32px;
								line-height: 32px;
							}
						}
						> div {
							padding-top: 60px;
							padding-bottom: 40px;
						}
						li, li a {
							margin-top: 8px;
							margin-bottom: 8px;
							color: $green_links;
							font-weight: bold;
							list-style: none;
						}
						ul {
							margin-top: 10px;
							margin-left: 0;
						}
						> div:nth-of-type(1) {
							span {
								span {
									color: $black;
									font-weight: bold;
								}
								p {
									color: $green_links;
									font-weight: bold;
									line-height: 0;
								}
							}
						}
						> div:nth-of-type(2) {
							padding-top: 60px;
							// border-bottom: 1px solid #CCC;
						}
						.for-educators, .for-families, .understand {
							> p:first-of-type {
								padding-bottom: 60px;
							}
						}
						.see-also {
							> p:first-of-type {
								font-size: 20px;
							}
						}
					}
				}
			}

		}
	}
}

// shared by all page types
body {
	form {
		padding-top: 0 !important;
		font-family: $lato!important;
		&.support-search-big#support-search {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			margin: 0 !important;

		}
		.outer {
			width: 90%;
			margin: 0 auto;
		}
		.inner, .support-search-big .inner {
			background: #FFF;
			border: 1px solid #CCC;
			border-top-color: #999;
			overflow: hidden;
			height: 37px;
			margin: 0;
			padding: 0 5px;
			width: 796px;

			padding-top: 5px !important;
			width: 100%!important;
			height: 48px!important;
			border-radius: 25px!important;
			font-weight: normal !important;
			#q {
				font-size: 18px;
		    border: 0pt none;
		    width: 100%;
		    padding: 9px 0;
		    margin: 0;
		    outline: none;
		    outline-width: 0;
		    background: none;

				padding-top: 7px !important;
				padding-left: 10px !important;
				width: 440px !important;
				font-weight: normal !important;
			}
			#question-mask {
				top: 30%!important;
				padding-left: 10px!important;
				text-align: left!important;
				font-size: 1em!important;
			}
			#support-search-submit {
				display: none!important;
			}
		}

	}
	.row-4 {
		.header-hl {
			font-size: 1.3em;
		}
		.row:not(.header-hl) {
			color: $green_links;
		}

		padding: 20px 25px 20px;
		font-size: 20px;
		color: $black;
		.col-sm-12 {
			.header-hl {
				font-family: $lato;
				font-weight: bold;
			}
			.row {
				margin: 0;
				padding-bottom: 15px;
				a {
					color: $black !important;
					&:hover {
						color: $green_links !important;
						text-decoration: none !important;
					}
				}
			}
		}
	}
	.row-5 {
		// padding: 35px 20px 35px;
		background-color: #e6e7e3;
		.col-xs-8 {
			color: $green_links;
			> .container-hl {
				display: table;
				height: 210px;
				width: 210px;
				margin: 0 auto;
		    border-radius: 50%;
				background-color: $white;
				> div {
			    vertical-align: middle;
			    display: table-cell;
					position: relative;
					text-align: center;
					padding: 0 15px;
					> a {
						color: $green_links;
						text-decoration: none;
					}
				}
			}
		}
		.slick-target {
			.slick-arrow {
				z-index: 99999;
			}
			.slick-prev {
				top: 125px;
				left: -1%;
		    bottom: 0px;
		    position: relative;
		    &:before {
		    	display: inline-block;
		    	height: 32px;
		    	width: 18px;
		    	content: " ";
		    	background-image: url(https://dev.commonsensemedia.org/sites/all/themes/commonsense/svg/desk_support_center/next_arrow.svg);
		    	-ms-transform: rotate(7deg); /* IE 9 */
	  	    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	  	    transform: rotate(180deg);
		    }
			}
			.slick-next {
		    position: relative;
		    top: -103px;
		    left: 95%;
		    height: 40px;
		    z-index: 999999;
	      &:before {
	      	display: inline-block;
			    width: 18px;
	        background-image: url(https://dev.commonsensemedia.org/sites/all/themes/commonsense/svg/desk_support_center/next_arrow.svg);
	        // background-size: cover;
	        height: 32px;
	        content: " ";
	      }
			}
			.slick-list {
				// overflow-x: hidden;
				.slick-slide {
					// width: 210xp;

					&.slick-current {

					}
				}
			}
		}
	}
	.row-8 {
	  .footer-float {
	    float:left;
	  }
	  .row {
	    padding-bottom: 5px;
	  }
	  padding-top: 5%;
	  background-color: #2f2f2f;
	  color: white;
	  .url-open {
	    cursor: pointer;
	    font-weight: 200;
	    color: #c6c6c6;
	    font-size: 0.92em;
	    line-height: 120%;
	    padding-bottom: 3px;
	  }
	  .col-sm-8 {
	    .col-sm-9 {
	      .col-sm-7 {
	        .row:nth-child(1) {
	          // padding-bottom: 10px;
	        }
	        .col-xs-2 {
	          width: 20%;
	        }
	      }
	      .col-sm-4 {
	        .row:nth-child(1) {
	          padding-bottom: 10px;
	        }
	      }
	    }
	    .lines {
	      border-bottom: 1px solid #777;
	      display: inline-block;
	      padding-top: 5px;
	      margin-bottom: 5px;
	    }
	    .row {
	      font-weight: bold;
	      &.url-open {
	        cursor: pointer;
	        font-weight: 200;
	      }
	      &.programs-row {
	        > div {
	          width: 16%;
	          padding-right: 5px;
	          padding-left: 5px;
	          &:first-of-type {
	            padding-left: 15px;
	          }
	        }
	      }
	    }
	    .our-policies {
	      padding-top: 5%;
	      .row:nth-child(1) {
	        padding-bottom: 8px;
	        .lines {
	          margin-left: -30px;
	        }
	      }

	    }
	    .legal {
	      color: #9B9B9B;
	      font-size: 12px;
	      clear: both;
	      // padding-top: 5%;
	      padding-bottom: 5%;
	      font-weight: 400;
	      text-align: center;
	      .row {
	        padding-top: 0;
	      }
	      .trademark {
	        max-width: 836px;
	      }
	    }
	    .twitter-container {
	      a {
	        color: $green_links;
	      }
	      .col-sm-6 {
	        padding-left: 0;
	        font-weight: bold;
	      }
	      .row {
	        font-weight: 200;
	      }
	      .lines {
	        // padding-bottom: 10px;
	      }
	      .row:nth-child(4) {
	        padding-top: 10px;
	      }
	      .col-xs-4 {
	        padding-right: 5px;
	        &:nth-of-type(3) {
	          padding-right: 0;
	        }
	        &.csm-twitter, &.ed-twitter, &.ka-twitter {
	          overflow: hidden;
	          a {
	            overflow-wrap: break-word;
	            word-wrap: break-word;
	          }
	        }
	      }
	    }
	  }
	  @media (max-width: 800px) {
	    font-size: 8px;
	    .legal {
	      font-size: 8px!important;
	    }
	  }
	}
}

//  nav bar stuff
body #company-support-portal .bottom-nav.navbar {
	margin-bottom: 0;

  button[aria-expanded="true"] {
    .icon-bar {
      background-color: $green;
    }
  }
  font-family: $lato;
  border-bottom: 0;
  margin-bottom: 0;

  .navbar-header {
    text-align: center;
  }
  .navbar-brand {
    // margin-left: -74px;
    float: none;
    display: inline-block;
  }
  .navbar-toggle {
  	display: none;
    float: left;
    margin-left: 15px;
  }
  img {
    width: 132px;
    position: relative;
    bottom: 8px;
  }
  .dropdown {
    padding-left: 0!important;
    a {
      color: white!important;
      background-color: transparent!important;
      text-decoration: none;
      &[aria-expanded="false"] {
        ul {
          background-color: transparent;
        }
      }
    }
    ul {
      .divider {
        margin: 0!important;
        border-bottom: #2a2a2a 1px solid;
      }
    }
  }
  .navbar-collapse {
    background-color: #2f2f2f;
    color: #fff;
    ul {
    	display: none;
      margin-top: 0;
      margin-bottom: 0;
      li {
        border-top: #202020 1px solid;
        border-bottom: #2a2a2a 1px solid;
        div {
          padding: 6px 0 6px 20px;
          font-size: 15px;
        }
      }
    }
  }
}
// begin new footer styles
footer {
  padding-top: 40px;
  border-top: 3px solid $gray-footer;
	color: $subtle-text;
	overflow: hidden;
  background-color: $white;
  font-size: 13px;

	.content-area {

    .top-footer-region {
      padding-bottom: 55px;
      font-size: 13px;
      color: $gray-arrow;
      background-color: $white;

      .top-footer-region-content {
        max-width: 1000px;
        margin: 0 auto;
      }

      .about-us {

        &:before {

          display: inline-block;
          width: 120px;
          margin-bottom: 20px;
          content: url('/public/img/cs_logo.svg')
        }

        .about-us-text {
          max-width: 210px;
        }
      }

      .location {
        padding-top: 30px;
      }
    }

    .bottom-footer-region {
      font-size: 14px;
      color: $heading-color;
      background-color: $background-neutral;

      .bottom-footer-region-content {
        max-width: 1000px;
        padding: 15px 12px 20px;
        margin: 0 auto;
        border-top: 1px solid $gray-footer;
        color: $heading-color;

        .privacy-container {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          .privacy-text {
            padding-bottom: 10px
          }

          .copyright-2 {
            font-size: 10px;
          }

          a {
            color: $heading-color;
            font-weight: normal;

            &:after {
              padding: 0 11px;
              content: '/';
            }

            &.last {

              &:after {
                content: '';
              }
            }
          }
        }

        .trademark {
          display: inline-block;
          width: 50%;
          font-size: 11px;
        }
      }

    }
	}
	.about-us {
    display: inline-block;
		max-width: 30%;
	}
  #block-menu-block-3 {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    text-align: center;

    .parent-menu-ul {
      margin-top: 0;
      text-align: left;
      font-size: 14px;
      color: $base-text-color-2;

      .parent-menu-item {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        margin-right: 12px;

        &:nth-of-type(1) {
          width: 26%;
        }

        &:nth-of-type(3) {
          width: 33%;
        }

        .footer-title {
          padding-bottom: 10px;
        }

        .child-menu-ul {
          padding-left: 0;
          color: $base-text-color-2;

          .menu__item {
            list-style: none;
            line-height: 29px;

            a {
              color: $base-text-color-2;
            }
          }
        }
      }
    }

  }

  #social-media {
    display: inline-block;
    float: right;
    width: 14%;
    margin-right: -3px;
    margin-left: -3px;
    vertical-align: top;
    font-size: 14px;
    color: $base-text-color-2;
    line-height: 29px;

    #connect-header {
      padding-bottom: 10px;
      margin-top: -14px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .social-link-wrapper {

      .social-item {

        .link-icon {
          position: relative;
          top: 7px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
        }

        .link-label {
          padding-left: 8px;
        }

        &.facebook {
          @include social-icons('../images/black_white_social_icons/facebook');

        }

        &.twitter {
          @include social-icons('/public/img/black_white_social_icons/twitter');
        }

        &.pinterest {

          @include social-icons('/public/img/black_white_social_icons/pinterest');
        }

        &.instagram {
          @include social-icons('/public/img/black_white_social_icons/instagram');
        }

        &.youtube {

          @include social-icons('/public/img/black_white_social_icons/youtube');
        }

        &.linkedin {

          @include social-icons('/public/img/black_white_social_icons/linkedin');
        }

        &.googleplus {

          @include social-icons('/public/img/black_white_social_icons/google');
        }
      }
    }

    a {
      color: $base-text-color-2;
    }
  }

	.copyright {
		clear: both;
		max-width: 50%;
		margin: 0 auto;
		width: 60em;
		text-align: center;
		color: $hidden-text;
		font-size: 0.75em;
		line-height: 1.2em;
	}
}