@import './variables.scss';
body {
	.wrapper {
		width: 100%;
	}
	#helptopics {
		text-align: center;
		color: #3a3a3a;
	}
	.kb_topic_name {
		color: #1e800d;
	}

	// main content
	#support-main {
		width: 100%;
		float: none;
	}
	.row-2, .row-3, .row-4 {
		font-size: 1.5em;
		.col-sm-12 {
			.header-hl {
				font-weight: bold;
			}
			.row {
				padding-bottom: 15px;
			}
		}
	}

	// contact us section
	#support-side {
		float: none;
		clear: left;
		margin: 0;
		width: 100%;
	}
	#footer {
		display: none;
	}
}
