@import './variables.scss';
body {
	font-family: $lato!important;
	#company-header, #support-side {
		display: none;
	}
	.wrapper {
		width: 100%;
	}
	#helptopics {
		text-align: center;
		color: #3a3a3a;
	}
	.kb_topic_name {
		color: #1e800d;
	}
	#support-header {
		text-align: center;
		margin-bottom: 0;
		h2 {
			color: $white!important;
			text-shadow: none!important;
			font-family: $lato!important;
		}
		.support-search-big {
			border: 0;
		}
		form {
			font-family: $lato!important;
			.outer {
				width: 90%;
				margin: 0 auto;
			}
			.inner {
				width: 100%;
				border-radius: 25px;
				#question-mask {
					text-align: left;
					font-size: 0.7em;
				}
				#support-search-submit {
					display: none;
				}
			}

		}
		.popular-searches {
			color: $white;
			span {
				text-decoration: underline;
			}
		}
	}
	// main content
	#support-main {
		width: 100%;
		float: none;
		font-family: $lato;
		.support-body {
			border: 0;
		}
		.dashboard {
			> h3 {
				border-bottom: 0;
				color: $black!important;
				font-family: $lato!important;
				font-size: 32px;
				line-height: 40px;
				text-align: center;
				font-family: $lato;
			}
			table {
				color: $green_links
			}
		}
		.row-2, .row-3, .row-4 {
			font-size: 20px;
			color: $black;
			.col-sm-12 {
				.header-hl {
					font-family: $lato;
					font-weight: bold;
				}
				.row {
					margin: 0;
					padding-bottom: 15px;
				}
			}
		}
		.row-3 {
			.col-sm-12 {
				border-bottom: 1px solid $grey;
			}
		}
		.row-4 {
			text-align: center;
			.header-hl {
				font-size: 1.3em;
			}
			.row:not(.header-hl) {
				color: $green_links;
			}
		}
	}

	// contact us section
	#support-side {
		float: none;
		clear: left;
		margin: 0;
		width: 100%;
	}
	#footer {
		display: none;
	}
}
