@import "cs-commonkit/src/scss/functions/color";
@import "cs-commonkit/src/scss/settings/globals";
@import "cs-commonkit/src/scss/mixins/breakpoints";
@import "../utility/mixins/full-width";

.footer-wrapper {
  padding: 0 $cs-spacer-base;
  border-top: 3px solid cs-color("grey", 30);
}

.region-footer {
  padding-top: $cs-spacer-xlarge;
}

#block-footercopyright {
  // Make footer-copyright goes outside region boundaries.
  @include full-width;

  .footer-copyright-wrapper {
    padding: 0 $cs-spacer-base;
  }
}

@include cs-media-breakpoint-up("sm") {
  .footer-wrapper {
    padding: 0 $cs-spacer-medium;
  }

  #block-footercopyright {
    .footer-copyright-wrapper {
      padding: 0 $cs-spacer-medium;
    }
  }
}

@include cs-media-breakpoint-up("lg") {
  .footer-wrapper {
    padding: 0 $cs-spacer-large;
  }

  .region-footer {
    max-width: 1200px;
    padding-top: 2.5rem;
    margin: 0 auto;
  }

  #block-footercopyright {
    .footer-copyright-wrapper {
      padding: 0 $cs-spacer-large;
    }

    // Center the actual footer-copyright content.
    .footer-copyright {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
